:root {

}
/*General page custom*/
html {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

/*import images*/
.logo {
	background-image: url('/images/logo4_trans.png');
	height: 101px;
	width: 224px;
}

/*header*/
.title {
	display: flex;
	justify-content: space-between;
}
.nav_profil {
	display: flex;
	align-items: center;
	width: 25%;
}
.nav_profil_ul {
	display: flex;
	padding: 0;
	width: 100%;
	justify-content: space-evenly;

}
/*big box*/
.big_box {
	display: flex;
	justify-content: center;
	height: 500px;
	background-image: url(/images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/*aside*/
.aside {
	width: 25%;

}
.nav {
	height: 100%;
}
.nav_ul {
	padding: 0;
	margin: 0;
	height: 200px;
	border: solid 4px gray;
	border-radius: 10px;
	margin: 0.5rem;
}

/*main*/
.main {
	border: solid 1px gray;
	width: 100%;
}

/*footer*/
.footer {
	display: flex;
	flex-direction: column;
	margin-top: auto;
}
.nav_footer {
	display: flex;
	width: 100%;

}
.footer .box_footer {
	padding: 0;
}
.nav_footer {
	border: solid 1px #918c8c;
	border-radius: 4px;
}
.footer p {
	color: #fff;
	background-color: rgb(72, 24, 145);
	text-align: center;
}
